{
  "comments": false,
  "presets": [
    ["@babel/preset-flow"],
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [">0.25%", "not ie 11", "not op_mini all", "safari >= 9"]
        },
        "corejs": 3,
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    ["babel-plugin-idx"],
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ]
  ]
}
