{
  "comments": false,
  "presets": [
    ["flow"],
    [
      "env",
      {
        "targets": {
          "browsers": [">0.25%", "not ie 11", "not op_mini all", "safari >= 9"]
        },
        "useBuiltIns": true
      }
    ],
    [
      "minify",
      {
        "mangle": {
          "exclude": [
            "basicScriptSet",
            "profilesToDisable",
            "defaultIcon",
            "fastLogin",
            "appendSmilies"
          ]
        }
      }
    ]
  ]
}
